<div [style.padding]="'10px'">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row">
        <div>
          <button mat-button (click)="openDialog()">Open Dialog</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div [style.padding]="'10px'">
  <mat-card>
    <mat-card-content>
      <div>
        <form novalidate [formGroup]="theForm">
          <mat-checkbox formControlName="allDay">Check to test</mat-checkbox>
        </form>
        <ng-container *ngIf="theForm.controls.allDay.value;else elseBlock">
          I'm checked
        </ng-container>
        <ng-template #elseBlock>
          I'm not checked
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div [style.padding]="'10px'">
  <mat-card>

    <mat-card-title>
      Using Reactive Forms
    </mat-card-title>

    <mat-card-content>
      <div>
        <form novalidate [formGroup]="theForm2">
          <mat-form-field [hideRequiredMarker]="false">
            <input matInput formControlName="appName" placeholder="Name" autocomplete="off" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="appSurname" placeholder="Surname" autocomplete="off">
          </mat-form-field>
        </form>
        Inside mat-card: {{theForm2.value.appName}} {{theForm2.value.appSurname}}
      </div>
    </mat-card-content>
  </mat-card>
  Out of any material2 component: {{theForm2.value.appName}} {{theForm2.value.appSurname}}
</div>

<div [style.padding]="'10px'">
  <mat-card>

    <mat-card-title>
      Using Template Driven Forms
    </mat-card-title>

    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="appName" placeholder="Name" autocomplete="off" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="appSurname" placeholder="Surname" autocomplete="off">
        </mat-form-field>
        Inside mat-card: {{appName}} {{appSurname}}
      </div>
    </mat-card-content>
  </mat-card>
  Out of any material2 component: {{appName}} {{appSurname}}
</div>